<script src="https://use.fontawesome.com/9781da71b0.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
<body>
  <header>
    <div class="page">
    <div class="container">
      <div id="logo">
           <h1 style="font-size:26px ;" class="glow" >StretchIt!</h1>
    </div>
      <nav>
        <ul>
          <li><a href="#">Healthy Recipes</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
        </ul>
  </nav>
</div>
          </div> <!--end of container-->
        </header>
        <div class="page1">
  <section id="showcase">
    <div class="container1">
        <h2 class="glow">StretchIt, where your health matters the most <i class="fa fa-heart"></i><br><br>Your Journey starts here!</h2>

     
      <a href="index">
            <button class="ghost" id="signIn" >Check BMI</button>
</a>
</div>
    </div><!--end of container-->
  </section><!--end of showcase-->

  <div class="page">
    <footer>
        <p>
            For more health <i class="fa fa-heart"></i> advice
            <a target="_blank" href="https://www.healthline.com/nutrition/27-health-and-nutrition-tips#TOC_TITLE_HDR_2">visit</a>
            Our health website to learn more
    
        </p>
  </footer>
</div>
</body>
  
  
  
  
</body>